{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
